$particles-font-path: "~presslabs-particles-icons/dist/fonts/" !default;
@import "~presslabs-particles-icons";
@import "./components/variables";
@import "./components/colors";

body {
  background: #F2F2F2;
  margin: 0;
  position: relative;
}
